@model DAL.Entities.Tour

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tour</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TenGoi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TenGoi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MoTa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Giá tour")
        </dt>
        <dd class="col-sm-10">
            <!-- button toggle for popup -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#prices">
                Hiển thị danh sách giá
            </button>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Danh sách các địa điểm")
        </dt>
        <dd class="col-sm-10">
             <!-- button toggle for popup -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#locations">
                Hiển thị các địa điểm
            </button>
        </dd>
    </dl>
    <!--pop-up for prices showing -->
    <div class="modal fade" id="prices" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="max-width: 750px !important;" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Giá tour</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @{
                        //add a new price
                    }
                    <a href="@Url.Action("Create", "Price", new { id = Model.TourId })">
                        <button type="button" class="btn btn-primary">Thêm giá</button>
                    </a>
                    <table class="table table-striped nowrap">
                        <thead>
                            <tr>
                                <th>Ngày bắt đầu</th>
                                <th>Ngày kết thúc</th>
                                <th>Giá</th>
                                <th style="white-space: nowrap;">Chức năng</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!--for each price-->
                            @foreach(var price in Model.Prices)
                            {
                                <tr>
                                    <td style="white-space: nowrap;">@price.StartDate</td>
                                    <td style="white-space: nowrap;">@price.EndDate</td>
                                    <td style="white-space: nowrap;">@price.Money</td>
                                    <td style="white-space: nowrap;">
                                        <a href="@Url.Action("Edit", "Price", new { id = price.Id })">
                                            <button type="button" class="btn btn-primary">Sửa</button>
                                        </a>
                                        <a href="@Url.Action("Delete", "Price", new { id = price.Id })">
                                            <button type="button" class="btn btn-danger">Xóa</button>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!--pop-up for locations showing -->
    <div class="modal fade" id="locations" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="max-width: 450px !important;" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Danh sách các địa điểm</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <a href="@Url.Action("Create", "TourDetail", new { id = Model.TourId })">
                        <button type="button" class="btn btn-primary">Thêm địa điểm</button>
                    </a>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Thứ tự</th>
                                <th>Địa chỉ</th>
                                <th>Chức năng</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!--for each location-->
                            @foreach(var detail in Model.TourDetails)
                            {
                                <tr>
                                    <td>@detail.Serial</td>
                                    <td>@detail.Location.LocationName</td>
                                    <td style="white-space: nowrap;">
                                        <a href="@Url.Action("Edit", "TourDetail", new { id = detail.Id })">
                                            <button type="button" class="btn btn-primary">Sửa</button>
                                        </a>
                                        <a href="@Url.Action("Delete", "TourDetail", new { id = detail.Id })">
                                            <button type="button" class="btn btn-danger">Xóa</button>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TourId">Edit</a>
    <a asp-action="Index">Back to List</a>
</div>
