@using System.Globalization
@model IEnumerable<DAL.Entities.TouristGroup>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Revenue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hotel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th class="text-nowrap">
               Chức năng
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var touristGroup in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => touristGroup.Tour.TenGoi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => touristGroup.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => touristGroup.EndDate)
            </td>
            <td class="text-nowrap">
                @{
                    int numberCustomer = touristGroup.TouristGroup_Customers.Count;
                    float TienBanVe = 0;
                    float TienChiPhi = 0;
                    // get price in prices of tour depend on the time of tourist group
                    if(touristGroup.Tour != null)
                    {
                        foreach (var item in touristGroup.Tour.Prices)
                        {
                            if (item.StartDate.Date <= touristGroup.StartDate.Date && item.EndDate.Date >= touristGroup.EndDate.Date)
                            {
                                TienBanVe = item.Money * numberCustomer;
                            }
                        }

                    }
                    TienChiPhi = TienBanVe - touristGroup.TouristGroup_Costs.Sum(x => x.Money); 
                }   
                @TienChiPhi.ToString("C", CultureInfo.CreateSpecificCulture("vi-VN"))
            </td>
            <td>
                @Html.DisplayFor(modelItem => touristGroup.Hotel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => touristGroup.Description)
            </td>
            <td class="text-nowrap">
                <a asp-action="Edit" asp-route-id="@touristGroup.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@touristGroup.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@touristGroup.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
